/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


/*-- scss:rules --*/
#hero-banner {
  padding-top: 35px;
  background-color: $body-bg-hero;
}

#quarto-content main { 
  margin-top: 0;
  padding-top: 0;
}


html {
  scroll-behavior: smooth;
}

#homepage-heading {
  font-size: 4.0625rem;
  text-align: center;
}

.headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.headline a {
  text-decoration: none;
}

.headline ul li {
  margin-bottom: 0.3em;
}

/* logo */
.navbar-logo {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
  padding: 0;
}

.navbar-brand > img {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
}