/*-- scss:defaults --*/

$body-bg: #fefeff;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:rules --*/
#hero-banner {
  margin-top: -16px;
  padding-top: 35px;
  background-color: $body-bg;
}

#quarto-content main { 
  margin-top: 0;
  padding-top: 0;
}

.back-nav {
  margin-bottom: 1.1em;
}

#back-nav-link {
  color: #6c757d7a;
}


html {
  scroll-behavior: smooth;
}

code, .sourceCode {
  font-family: "Roboto Mono";
}

#homepage-heading {
  color: #2c3e50;
  font-size: 4.0625rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.1em;
}

.headline {
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.headline a {
  text-decoration: none;
}

.headline ul li {
  margin-bottom: 0.3em;
}

.entry-point {
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 2em 0;
  border: 2px solid #e7ebee; 
  border-radius: 0.25em;
  /*background-color: #f7f9fb;*/
}

.hero-buttons {
  padding: 1em;
}

/* logo */
.navbar-logo {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
  padding: 0;
}

.navbar-brand > img {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
}

.nav-footer {
  background-color: #2c3e50;
  color: #ffffff;
}

footer > .footer-items {
  color: #fffffff;
}

.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,

.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus{
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2c3e50!important;
  background-color: #f5f7fa!important;
}

.data-tabs .nav-link:hover,
.page-tabs .nav-link:hover {
  border-width: 0px 0px 2px 0px;
}

.data-tabs .nav-tabs,
.page-tabs .nav-tabs {
  border-width: 0;
  border-bottom-color: #2c3e50;
}

.data-tabs .tab-content {
  border-width: 0;
  padding-left: 0;
  padding-right: 0; 
  padding-top: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.page-tabs .tab-content {
  padding-top: 10px;
  margin-top: 15px;
  border-top: #ecf0f1 1px solid;
  border-radius: 5px;
  background-color: #fff;
}

.card-title {
  font-size: 24px; 
}

/* The filter search bar in the data sets page*/
.quarto-listing-filter {
  width: 100%;
}

/* disable the tabs for the other diseases */
.data-tabs > ul > li:nth-child(2) > a, .data-tabs > ul > li:nth-child(3) > a, 
.data-tabs > ul > li:nth-child(4) > a, .data-tabs > ul > li:nth-child(5) > a {
  cursor: not-allowed;
  pointer-events: none;        
  text-decoration: none;
  color: grey;
}

/* style the search bar */
.input-group-sm>.form-control, .input-group-sm>.form-select, .input-group-sm>.input-group-text, .input-group-sm>.btn {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.content-block {
  padding: 80px 0px;
}

.hero-text {
  font-size: 2.2rem;
  font-weight: 600;
}

.btn-browse {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px 24px;
  margin-right: 20px;
  border: 0;
  color: #fff;
  background: #2c3e50;
}

#btn-about {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 15px 20px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
}


.description {
  margin-top: 1em;
  font-size: 20px;
}

#radar-block {
  background-color: #f7f9fb;
}

#data-image {
  border: solid 2px #e7ebee;
  border-radius: 8px;
  margin-left: 30px;
}

#principles-heading {
  text-align: left;
}

#principles-block {
  background-color: #edf3f9;
}

#browse-btn-block {
  /* background-color: #f7f9fb; */
  text-align: center;
}

/* this is added and hidden so that quarto can properly align the principles */
#exemplified-2 {
  visibility: hidden;
}

.thumbnail-image {
  max-height: 150px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.25rem;
}


.listing-category {
  color: #6a737b;
  border: solid 1px #dee2e6;
  border-radius: .25rem;
  text-transform: uppercase;
  font-family: "Roboto Mono";
  font-size: .75em;
  font-weight: 400;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .15em;
  padding-bottom: .15em;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

.listing-title a {
  color: #212529;
  font-weight: 600;
  text-decoration: none;
}

.listing-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  margin-bottom: 2px;
}

.no-anchor {
  color: #212529;
  font-weight: 600;
  text-decoration: none;
}

.dropdown-container {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}


#theme, #time, #geography, #other, #resetButton {
  width: 225px !important;  /*this is temporary until I figure out a better way*/ 
}


.card-tag {
  color: #6a737b;
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  margin-top: 0;
}

.card-img-medium {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust this value as needed */
  object-fit: cover;
}

.card-footer {
  padding: 15px;
  background-color: #ffffff;
}

.div.card-footer > p {
  margin-bottom: 0px;
}

.quarto-title-banner {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}