/*-- scss:defaults --*/

$body-bg: #fefeff;

// fonts
//@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*-- scss:rules --*/
#hero-banner {
  margin-top: -16px;
  padding-top: 35px;
  background-color: $body-bg-hero;
}

#quarto-content main { 
  margin-top: 0;
  padding-top: 0;
}

.back-nav {
  margin-bottom: 1.1em;
}

#back-nav-link {
  color: #6c757d7a;
}


html {
  scroll-behavior: smooth;
}

#homepage-heading {
  font-size: 4.0625rem;
  text-align: center;
}

.headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.headline a {
  text-decoration: none;
}

.headline ul li {
  margin-bottom: 0.3em;
}

/* logo */
.navbar-logo {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
  padding: 0;
}

.navbar-brand > img {
  max-height: 64px!important;
  max-width: 64px!important;
  width: 64px!important;
  height: 64px!important;
}
/*
#tabset-1-1-tab.nav-link.active, #tabset-1-1-tab.nav-link.active:focus,
#tabset-1-2-tab.nav-link.active, #tabset-1-2-tab.nav-link.active:focus,
#tabset-1-3-tab.nav-link.active, #tabset-1-3-tab.nav-link.active:focus,
#tabset-1-4-tab.nav-link.active, #tabset-1-4-tab.nav-link.active:focus {
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2c3e50!important;
  background-color: #f5f7fa!important;
}
*/

.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,
.data-tabs .nav-link.active, .data-tabs .nav-tabs.nav-link.active:focus,

.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus,
.page-tabs .nav-link.active, .page-tabs .nav-tabs.nav-link.active:focus{
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2c3e50!important;
  background-color: #f5f7fa!important;
}

.data-tabs .nav-link:hover,
.page-tabs .nav-link:hover {
  border-width: 0px 0px 2px 0px;
}

.data-tabs .nav-tabs,
.page-tabs .nav-tabs {
  border-width: 0;
  border-bottom-color: #2c3e50;
}

.data-tabs .tab-content {
  border-width: 0;
  padding-left: 0;
  padding-right: 0; 
  padding-top: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.page-tabs .tab-content {
  padding-top: 10px;
  margin-top: 15px;
  border-top: #ecf0f1 1px solid;
  border-radius: 5px;
  background-color: #fff;
}

.card-title {
  font-size: 24px; 
}

/* The filter search bar in the data sets page*/
.quarto-listing-filter {
  width: 100%;
}

/* disable the tabs for the other diseases */
.data-tabs > ul > li:nth-child(2) > a, .data-tabs > ul > li:nth-child(3) > a, 
.data-tabs > ul > li:nth-child(4) > a, .data-tabs > ul > li:nth-child(5) > a {
  cursor: not-allowed;
  pointer-events: none;        
  text-decoration: none;
  color: grey;
}

/* style the search bar */
.input-group-sm>.form-control, .input-group-sm>.form-select, .input-group-sm>.input-group-text, .input-group-sm>.btn {
    border-radius: .5em;
    border-color: #2c3e50;
}

.content-block {
  padding: 80px 0px;
}

.hero-text {
  font-size: 2.2rem;
  font-weight: 600;
}

.btn-browse {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px 24px;
  margin-right: 20px;
  border: 0;
  color: #fff;
  background: #2c3e50;
}

#btn-about {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 15px 20px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
}


.description {
  font-size: 20px;
}

#radar-block {
  background-color: #f7f9fb;
}

#data-image {
  border: solid 2px #e7ebee;
  border-radius: 8px;
  margin-left: 30px;
}

#principles-heading {
  text-align: center;
}

#principles-block {
  background-color: #edf3f9;
}

.principles {
  
}

#browse-btn-block {
  background-color: #f7f9fb;
  text-align: center;
}

/* this is added and hidden so that quarto can properly align the principles */
#exemplified-2 {
  visibility: hidden;
}